

div#calculator {
  width:100%;
  height:100%;
  font-size:1.5rem;
  background-color:silver;
  padding: 0.5rem;
  border-radius:2%;
}

div#display {
  overflow:hidden;
  width: 100%;
  height: 20%;
  margin-bottom:1%;

  background-color:white;
  border:1px solid gray;
  text-align:right;
  font-size:1.5rem;
  background-color:rgba(250,250,250,1);
}

div#buttons {
  height:79%;
}

div#buttons button {
  height: 20%;

}

div#numberButtons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  float:left;
  width:80%;

}
div#numberButtons > button {
  -webkit-flex: 3 auto;
  flex: 1 auto;
  width:33%;
  height: 20%;
  font-size: 2.5rem;

  background-color:DodgerBlue ;
  color:white;
}

div#numberButtons > button#clearButton {
    background-color:OrangeRed;
}

div#operationButtons {
  width:20%;
  float:right;
}
div#operationButtons > button {
  font-size: 2.5rem;
  width:100%;
  height: 20%;
  background-color:orange;
}
